* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: rgb(12, 236, 143);
    color: rgb(255, 255, 255);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 100%;
    max-width: 500px;
    background-color: rgb(36, 115, 36);
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 15px 20px rgb(0,0,0,0.10);
}

h1 {
    margin-bottom: 10px;
}


.subtitle {
    margin-top: 0;
    text-align: center;
}

.container .btn {
    width: 100%;
    padding: 15px;
    margin: 15px 0;
    border-radius: 10px;
    font-size: 20px;
    border: none;
    background-color: rgb(15, 146, 91);
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.5s ease-in, background 0.3s ease;
}

.container .btn:hover {
    background-color: rgb(12, 236, 143);
}

.card{
    background-color: rgba(3, 248, 219, 0.28);
    border-radius: 10px;
    font-size: 15px;
    text-align:  left;
    padding: 15px;
}

#address {
    font-size: 16px;
    word-break: break-all;
    font-family: monospace;
}

.card p {
    margin: 3px 0;
    padding: 5px;
}
.card p strong {
    display: inline-block;
    width: 200px;
}

h1{
    text-align: center;
}
